node_modules/
build
my-app*
packages/react-scripts/template
packages/react-scripts/fixtures
packages/react-dev-utils/FileSizeReporter.js
packages/react-dev-utils/InterpolateHtmlPlugin.js
packages/react-dev-utils/ModuleScopePlugin.js
packages/react-dev-utils/WatchMissingNodeModulesPlugin.js
packages/react-dev-utils/WebpackDevServerUtils.js
packages/react-dev-utils/ansiHTML.js
packages/react-dev-utils/checkRequiredFiles.js
packages/react-dev-utils/clearConsole.js
packages/react-dev-utils/crossSpawn.js
packages/react-dev-utils/eslintFormatter.js
packages/react-dev-utils/formatWebpackMessages.js
packages/react-dev-utils/getProcessForPort.js
packages/react-dev-utils/inquirer.js
packages/react-dev-utils/launchEditor.js
packages/react-dev-utils/noopServiceWorkerMiddleware.js
packages/react-dev-utils/openBrowser.js
packages/react-dev-utils/openChrome.applescript
packages/react-dev-utils/printHostingInstructions.js
packages/react-dev-utils/webpackHotDevClient.js